<mat-card>
  <div class="contact-info-header">
    <img class="profile-picture" src="https://via.placeholder.com/150" alt="Profile Picture">
    <h1 class="name">Mitar Brankovic</h1>
    <h2 class="job-title">Software Engineer</h2>
  </div>
  <mat-card-content>
    <mat-list>
      <a mat-list-item href="https://github.com/MitarBrankovic" target="_blank">
        <img style="float: left;" class="contact-icon" src="assets/images/github.png" alt="GitHub">
        <p class="contact-label">GitHub</p>
      </a>
      <a mat-list-item href="https://www.linkedin.com/in/mitar-brankovic/" target="_blank">
        <img style="float: left;" class="contact-icon" src="assets/images/linkedin.png" alt="LinkedIn">
        <p class="contact-label">LinkedIn</p>
      </a>
    </mat-list>
  </mat-card-content>
</mat-card>